<div class="p-8">
  <h1>Editing product</h1>

  <%= render "form", product: @product %>

  <br>

  <div class="flex py-2 flex-wrap">
    <div class="my-2"><%= link_to "Show this product", @product, class: 'link-primary' %></div>
    <div class="my-2 ml-4"><%= link_to "Back to products", products_path, class: 'link-primary' %></div>
  </div>
</div>